html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(190, 211, 230);
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
}

.container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.7fr;
    justify-items: center;
    align-items: center;
    height: 80vh;
    width: 30vw;
    border: 1px solid white;
    border-radius: 20px;
}

.qr > img {
    height: 50vh;
    width: 25vw;
    margin-top: 20px;
    border: 1px solid rgb(46, 157, 231);
    border-radius: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    width: 25vw;
    height: 30vh;
}

.topText {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    text-align: center;
}

.botText {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
